.book {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    overflow-y: hidden;
}
.book .img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
}
.book > .img > img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.book_additional_info > p{
    font-weight: bold;
    color: #285473;
}