.context-page{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.context-page > form{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.block-price{
    display: flex;
    flex-direction: row;
}
.block-price > input {
    margin: 5px;
}

.advertising{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}